*.log
*.log.*
__pycache__/
*.pyc
*.pyo

/
node_modules/
dist/
.cache/
.idea/
.vscode/

*.sqlite
*.db
*.sqlite3
*.db3
*.db-journal

.env

.DS_Store
Thumbs.db

*.o
*.out
*.dll
*.exe
*.egg
*.egg-info/
*.whl
build/
dist/